<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/soundmoodfinalicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/soundmoodfinalicon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SoundMood"
        tools:targetApi="31">

        <!-- LoginActivity sebagai Launcher Activity -->
        <activity
            android:name=".ui.loginpage.LoginActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <!-- MainActivity, diakses setelah login, tanpa LAUNCHER filter -->
        <activity
            android:name=".ui.fragment.MainActivity"
            android:exported="true">
            <!-- Tidak perlu intent-filter LAUNCHER di sini -->
        </activity>

        <!-- Aktivitas lain -->
        <activity
            android:name=".ui.moodplaylistgenerated.MoodPlaylistGeneratedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.captureimagepage.CaptureImagePage"
            android:exported="false" />
        <activity
            android:name=".ui.moodresultpage.MoodResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gettingstartedpage.GettingStartedActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
